<mat-toolbar class="mat-elevation-z8">
  <!-- use mat-icon too import the icon in navbar:  -->
  <span><mat-icon>eco</mat-icon>Moveme Quotes</span>

  <div class="spacer"></div>
  <!-- use anchor tag too create a navigaton menu:-->
  <!-- use class property too make home component active by default -->
  <a mat-button routerLink="home" class="active">Home</a>
  <a mat-button routerLink="blog">Blog</a>
  <a mat-button routerLink="quotes">Quotes</a>
  <a mat-button routerLink="about-us">About Us</a>
  <a mat-button routerLink="contact-us">Contact Us</a>
  <a mat-raised-button class="sign-in-button" routerLink="login-content">Sign In</a>

</mat-toolbar>
